.navbar {
  background-color: darkgreen;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: lightgreen;
}

.navbar a.active {
  color: lightgreen;
}

h1 {
  display: flex;
  justify-content: space-evenly;
}

#expense-header {
  color: white;
}

.expense-table-card {
  display: flex;
  justify-content: center;
  margin: 20px
}

.expense-table {
  margin: 0 auto;
  max-width: 800px;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.expense-table th {
  background-color: #f2f2f2;
}

.expense-table tbody tr:nth-child(odd) {
  background-color: #b8b8b8;
}

.expense-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.expense-table tbody tr:hover {
  background-color: #8cb48a;
}

.expense-table tbody td:first-child {
  white-space: nowrap;
}

.expense-table tbody td:last-child {
  text-align: right;
}

.expense-table thead th:first-child,
.expense-table tbody td:first-child {
  padding-left: 20px;
}

.expense-table thead th:last-child,
.expense-table tbody td:last-child {
  padding-right: 20px;
}

#addNewExpenseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 2rem;
}

#addNewExpenseForm label {
  margin-bottom: 0.5rem;
}

#addNewExpenseForm button {
  margin-top: 1rem;
}

.expense-form-card {
  display: flex;
  justify-content: center;
}

#addNewExpenseForm p {
  padding: .5rem;
}