.navbar {
  background-color: black;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: lightgreen;
}

.navbar a.active {
  color: lightgreen;
}


.page-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.expense-table-card {
  display: flex;
  justify-content: center;
  margin: 20px
}

.expense-table {
  margin: 0 auto;
  max-width: 800px;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.expense-table th {
  background-color: #f2f2f2;
}

.expense-table tbody tr:nth-child(odd) {
  background-color: #b8b8b8;
}

.expense-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.expense-table tbody tr:hover {
  background-color: #8cb48a;
}

.expense-table tbody td:first-child {
  white-space: nowrap;
}

.expense-table tbody td:last-child {
  text-align: right;
}

.expense-table thead th:first-child,
.expense-table tbody td:first-child {
  padding-left: 20px;
}

.expense-table thead th:last-child,
.expense-table tbody td:last-child {
  padding-right: 20px;
}

#addNewExpenseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 2rem;
}

#addNewExpenseForm label {
  margin-bottom: 0.5rem;
}

#addNewExpenseForm button {
  margin-top: 1rem;
}

.expense-form-card {
  display: flex;
  justify-content: center;
}

#addNewExpenseForm p {
  padding: .5rem;
}

.accounts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  background-color: #f1f1f1;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-card:hover {
  background-color: #e0e0e0;
}

.account-name {
  font-size: 20px;
  font-weight: bold;
}

.account-balance {
  margin-top: 8px;
  color: #555555;
}

#new-account-button {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#new-account-button:hover {
  background-color: darkgreen;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.account-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.658)
}