.document {
  background-color: lightgreen;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: darkgreen;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: lightgreen;
}

.navbar a.active {
  color: lightgreen;
}

h1 {
  display: flex;
  justify-content: space-evenly;
}

.expense-table {
  margin: 0 auto;
  max-width: 800px;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.expense-table th {
  background-color: #f2f2f2;
}

.expense-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.expense-table tbody tr:hover {
  background-color: #eaeaea;
}

.expense-table tbody td:first-child {
  white-space: nowrap;
}

.expense-table tbody td:last-child {
  text-align: right;
}

.expense-table thead th:first-child,
.expense-table tbody td:first-child {
  padding-left: 20px;
}

.expense-table thead th:last-child,
.expense-table tbody td:last-child {
  padding-right: 20px;
}

#addNewExpenseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  height: 100vh;
}

#addNewExpenseForm label {
  margin-bottom: 0.5rem;
}

#addNewExpenseForm button {
  margin-top: 1rem;
}