html, body {
  height: 100%;
  margin: 0;
  background: rgb(208, 218, 209);
  background: linear-gradient(0deg, rgba(208, 218, 209, 1) 3%, rgba(9, 121, 17, 1) 58%, rgba(13, 66, 15, 1) 100%);
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
